* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  li{
      list-style-type: none;
      list-style-position: outside;
  }
  body {
    /* font-family:'Avenir','Helvetica, Neue','Helvetica','Arial'; */
    font-family: 'Noto Sans JP', sans-serif;
    padding-top: 2em;
    color: #fff;
	background: rgb(39, 39, 39);
  }
  
  
  /* モーダルCSS */
  .modalArea {
    display: none;
    position: fixed;
    z-index: 10; /*サイトによってここの数値は調整 */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .modalBg {
    width: 100%;
    height: 100%;
    /* background-color: rgba(30,30,30,0.9); */
    background-color: rgb(183, 183, 183);
  }
  
  .modalWrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width: 70%;
    height: 70%;
    /* max-width: 500px; */
    padding: 20px 30px;
    background-color: rgb(39, 39, 39);
  }
  
  .closeModal {
    position: absolute;
    top: 0.75rem;
    right: 2rem;
    cursor: pointer;
    font-size: 3em;
    font-weight: bold;
  }
  
  
  /* 以下ボタンスタイル */
  button {
    font-size: 2.5em;
    font-family: 'Oswald', sans-serif;
    padding: 1em 2em;
    background-color: #fff;
    /* border: 1px solid #282828; */
    border-radius: 2px;
    cursor: pointer;
    background-color: #006dfb;
    color: #fff;
    border-radius: .3em;
    border: none;
  }
  
  #openModal {
    /* position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%,-50%); */
  }

  h1{
      color: #006dfb;
      font-family: 'Oswald', sans-serif;
      font-size: 5em;
  }

  .header{
      display: flex;
      justify-content: center;
      margin-bottom: 1em;
  }
  .header div{
      margin: 0 1em;
  }
  .header ul.info{
      font-size: 1.5em;
      margin-top: .5em;
      display: flex;
  }
  .header .info li{
      margin-right: 1em;
  }
  .header h2{
    border-bottom: solid #fff 1px;
    text-indent: -2px;
  }
  .header h2 span{
      font-size: .5em;
      margin-left: 1em;
  }

  .graph{
      display: flex;
      justify-content: center;
  }

  .modalWrapper h2{
    color: #fff;
    font-size: 2em;
    padding: 0.2em 0.5em;
    background-color: #006dfb;
    margin-bottom: 0.5em;
  }

  .modalContents ul{
      border-top: solid gray 1px;
      border-bottom: solid gray 1px;
      font-size: 1.5em;
      display: flex;
      padding: .3em 0em;
  }
  .modalContents li{
      margin: 0 1em;
  }
  .modalContents p{
      margin-bottom: 1em;
  }

  .modalContents{
      margin-bottom: 1em;
  }

  .report{
      font-size: 2em;
      justify-content: center;
  }
  .report div{
    margin-bottom: 15px;
  }
  .report div:nth-of-type(3) input,
  .report div:nth-of-type(3) input+label{
    margin-left: 20px;
  }
  .report div:nth-of-type(3) input{
    display: none;
  }
  .report div:nth-of-type(3) input+label{
    font-size: .8em;
    background-color: gray;
    border-radius: 10px;
    padding: 0.3em 0.5em;
  }
  .report div:nth-of-type(3) input:checked+label{
    background-color:#006dfb;
    font-weight: bold;
  }
  .report div:nth-of-type(3) input:nth-of-type(1)+label{
    margin-left: 0px;
  }

  #sekoPrime{
    width: 70%;
    font-size: .8em;
    padding: .3em 1em;
    border: none;
    border-radius: .2em;
  }

  #calendarTEST{
      padding: .3em 1em;
      font-size: .8em;
      border: none;
      border-radius: .2em;
  }